{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load user_filters %}
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h3">
                  Автор всего этого "чуда"
                </div>
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">
                  Татаринов Владислав Игоревич
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="card-body">
          <div class="card-text">
            <h2>Пару слов "Об авторе"</h2>
            <p>Родился в один из прекрасных дней 23 мая 1995 года в городе
            Липецк. Ещё с дошкольных времен, если не с самого рождения, полюбил
              цифры: помню как в последний год детского сада было задано дома
              заниматься прописыванием различных букв, я сидел и с такой не
              охотой этим занимался, паралельно с этим я представлял как будто
              я решаю какие-то примеры, делаю какие-то вычисления. С нетерпением
              ждал школьных времен, чтобы наконец-таки что-то порешать, но
              школьная программа всегда давалась легко в плане алгебры, а вот
              геометрию совсем не любил. Такая же история была и в университете
              (кстати закончил я один из топовых технических вузов страны: РГУ
              нефти и газа им. И.М.Губкина(Москва), в последний момент перед
              поступлением выбирал между МГТУ им. Баумана и "губкинским", в итоге
               выбор пал на последний): если по каким то причинам не удавалось
              посещать пары по высшей математике (чаще всего это были соревнования по плаванию),
              достаточно было дома уделить час-два на изучение той или иной темы, чтобы написать
              контрольные работы на оценку "хорошо" и "отлично". К чему же я это все?!
              Возможно тот ребёнок, которому на момент написания этого текста уже почти 26,
              мечтал не просто о каких то вычислениях, а именно о программировании.
              Этому ребенку в будущем больше чем считать цифры нравилось только решать логические задачки,
              которые хоть и не часто, но давались на уроках информатики. В 11 классе этот ребёнок
              задумывался над тем, чтобы поступить на специальность связанную с программированием и пошел сдавать
              ЕГЭ по информатике, проведя всего месяц у репетитора и сдав ЕГЭ на 90 баллов. Но в последний момент
              он решил воспользоваться выигранной всероссийской олимпиадой по физике, которая давала по этому предмету
              100 баллов, наверное в тот момент сыграл страх не поступить на бюджет. В итоге случилось как случилось.
            </p>
            <h2>Ещё чуть-чуть об авторе</h2>
            <p>Помимо люви к цифрам, возникла и любовь к воде. Со второго класса занимался плаванием,
            доплавался до разряда КМС. Продолжал тренировки и в университетское время, но это уже было больше для
              себя. После университета я устроился на работу в компанию, которая занимается строительством гидротехнических
              сооружений для нефтегазовой отрасли, в течение года получил два повышения и в момент написания
              этого сайта по прежнему работаю здесь на должности главного специалиста отдела.
            </p>
            <p>
              Я очень сильню верю и надеюсь, что желания и амбиции того самого мальчишки из первого абзаца реализуются
              и он станет толковым программистом, который будет справляться с задачами любой сложности, а самое главное
              наслаждаться всем этим процессом
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}